/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/roboto-v30-latin_cyrillic-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v30-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #f5f107, #cc21c9);
}

.page__title {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  animation-name: color-change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes color-change {
  from {
    color: #fff;
    border-color: #fff;
  }
  to {
    color: #1d1d1d;
    border-color: #1d1d1d;
  }
}

.page__btn {
  padding: 0;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  border-style: solid;
  background: none;
  font-size: 24px;
  animation-name: color-change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-timing-function: ease-in-out;
}

.page__btn:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.page__btn:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

@media (max-width: 900px) {
  .page__title {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 24px;
  }
}
